/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

/*
Breakpointy
Mobil   0 - 539px
Tablet  540px - 959px (čti jako 540px a víc)
PC      960px a víc
*/



h1 {
	text-align: center;
	margin: 0;
}

.clen-tymu {
	border: 1px solid silver;
	border-radius: 20px;
	text-align: center;
	margin-top: 20px;
	padding: 20px;
	width: 100%;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.foto img {
	border-radius: 50%;
	margin-right: 20px;
}

@media screen and (min-width: 600px) {
	.cely-tym {
		display: flex;
		flex-wrap: wrap; 
		justify-content: space-evenly;

	}

	.clen-tymu {
		display: flex;
		width: calc(50% - 30px);
		flex: 1 1 ((100% - 30px) / 2);
	}

	.popis {
		text-align: left;
				
	}

	.foto img {
		width: 100%;
		width: 85px;
	}

}

@media screen and (min-width: 1250px) {
	.clen-tymu {
		width: calc(25% - 30px);
		flex: 1 1 ((100% - 30px) / 4);
	}

	.clen-tymu {
		display: block;		
	}

	.popis {
		text-align: center;
		margin-left: 0;
	}

	.foto img {
		margin: 0;
		width: 128px;
	}
	
}

